import { html, css } from 'lit'
import { <%=vars.newElementInfo.elementClass%> } from '<%=vars.newElementInfo.libPath%>/base/<%=vars.newElementInfo.elementClass%>.js'

class Element extends <%=vars.newElementInfo.elementClass%> {
  <%if(vars.newElementInfo.typeOfElement === 'page'){ %>static get pagePath () { return ['<%=vars.newElementInfo.pagePath%>'] }<% } else { %>// No URL since this is not a page<% } %>

  static get styles () {
    return [
      ...super.styles,
      css`
        :host {
          display: block;
        }
      `
    ]
  }

  constructor () {
    super()
<%if(vars.newElementInfo.typeOfElement === 'page'){ -%>
    this.pageTitle = '<%=vars.newElementInfo.title%>'
<% } -%>
  }

  render () {
    return html`
      <%if(vars.newElementInfo.typeOfElement === 'page'){ %>
      ${this.renderHeader()} 
      
      <ee-tabs use-hash id="tab-<%=vars.newElementInfo.nameNoPrefix%>" default="main" name-attribute="tab-name">
        
        <a href="<%=vars.newElementInfo.pagePath%>#main" tab-name="main"><div>Main</div></a>

        <div tab-name="main" slot="content">
          <contents>
             <h1><%=vars.newElementInfo.nameNoPrefix%></h1>
          </contents>
        </div>

      </ee-tabs>
      <% } else { -%>
      <contents>
        <h1><%=vars.newElementInfo.nameNoPrefix%></h1>
     </contents>
      <% } -%>
    `
  }
}

window.customElements.define('<%=vars.newElementInfo.nameWithPrefix%>', Element)
