import { html, css } from 'lit'
import { <%=vars.newElementInfo.elementClass%> } from '<%=vars.newElementInfo.libPath%>/base/<%=vars.newElementInfo.elementClass%>.js'

class Element extends <%=vars.newElementInfo.elementClass%> {
  <%if(vars.newElementInfo.isPage){ %>static get pagePath () { return ['<%=vars.newElementInfo.pagePath%>'] }<% } else { %>// No URL since this is not a page<% } %>

  static get styles () {
    return [
      ...super.styles,
      css`
        :host {
          display: block;
        }
      `
    ]
  }

  constructor () {
    super()
<%if(vars.newElementInfo.isPage){ -%>
    this.pageTitle = '<%=vars.newElementInfo.menuTitle%>'
<% } -%>
  }

  render () {
    return html`
      <%if(vars.newElementInfo.isPage){ %>${this.renderHeader()} <% } -%>
      
      <ee-tabs use-hash id="tab-<%=vars.newElementInfo.nameNoPrefix%>" default="" name-attribute="tab-name">
        <div is-main-tab routing-group="<%=vars.newElementInfo.nameNoPrefix%>" slot="content">
        </div>
      </ee-tabs>
    `
  }
}

window.customElements.define('<%=vars.newElementInfo.nameWithPrefix%>', Element)
